.username-input-container {
    display: flex;
    flex-direction: row;
  }
  #username {
    width: 25%;
  }
  .register-container {
    display: flex;
    flex-direction: column;
    width: 25%;
  }
  